<!DOCTYPE html>
<html ng-app="todoModule">
  <head>
    <title>个人待办事件</title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
  </head>
  <body>
  <div class="container">
    <div class="jumbotron text-center">
      <h1><label class="label label-info">你有{{}}项待办事项</label></h1>
    </div>
  </div>
  </body>
  <script src="/lib/jquery/dist/jquery.min.js"></script>
  <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/lib/angular/angular.min.js"></script>
  <script>
    angular.module('todoModule',[]);
    angular.module('todoModule').controller('todoCtrl',function ($scope) {

    })
  </script>
</html>
